//
//  TYDefaultThemeConfigure.xcconfig
//  TommyTemplate
//
//  Created by Tommy on 2017/5/4.
//  Copyright © 2017年 Tommy. All rights reserved.
//


"origin_color_00" = "#ffffff";
"origin_color_01" = "#000000";

"main_color_00" = "#f33d2f";
"main_color_01" = "#aa2b21";
"main_color_10" = "#323232";

"normal_color_10" = "#7a7a7a";
"normal_color_20" = "#8e8e8e";
"normal_color_30" = "#929292";
"normal_color_40" = "#b0b0b0";

"weak_color_10" = "#efeff4";
"weak_color_11" = "#efefef";
"weak_color_12" = "#dfdfdf";
"weak_color_13" = "#e1e1e1";

"other_color_10" = "#65ba67";


"light_font" = "PingFangSC-Light";
"medium_font" = "PingFangSC-Medium";
"regular_font" = "PingFangSC-Regular";
"semibold_font" = "PingFangSC-Semibold";
"thin_font" = "PingFangSC-Thin";
"ultralight_font" = "PingFangSC-Ultralight";

//"light_font" = "PingFangSC-Thin";
//"medium_font" = "PingFangSC-Regular";
//"regular_font" = "PingFangSC-Light";
//"semibold_font" = "PingFangSC-Medium";
//"heavy_font" = "PingFangSC-Semibold";
//"thin_font" = "PingFangSC-Ultralight";
//"ultralight_font" = "PingFangSC-Ultralight";
